.navItems {
    background-color: #FFA07A;
    width: 1024px; 
    height: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navLogo{
    height: 100%;
    margin: 0px;
}

.navImg {
    mix-blend-mode: multiply;
}

.navMenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:20px;
    margin-left: -126px;
}

.navHome.black, .navHotel.black, .navHouse.black, .navAdministrator.black, .navLog.black{
    font-size: 16px;
    color: black;
    font-family: Open Sans;
    cursor: pointer;
}

.navHome, .navHotel, .navHouse, .navAdministrator, .navLog{
    font-size: 16px;
    color: white;
    font-family: Open Sans;
    cursor: pointer;
}

.navLogin{
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {    
    .navItems {
        max-width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .navHome.black, .navHotel.black, .navHouse.black, .navAdministrator.black, .navLog.black{
        font-size: 12px;
    }
    
    .navHome, .navHotel, .navHouse, .navAdministrator, .navLog{
        font-size: 12px;
    }
    
    .navMenu{
        margin:0;
        margin-top: -80px;        
    }

    .navLogin{
        margin:0;
        margin-bottom: 20px;
    }
}
