.filterContainer{
    width: 1024px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    border: solid 2px black;
}

.filterLocal{
    margin: 25px 0px;
}

.filterDays{
    z-index: 1;
    margin: 25px 0px;
    width: 35%;
    text-align: center;
}

.filterPeople{
    margin: 25px 0px;
}

.filterButtonSearch{
    border-radius: 20px;
    background-color: #A9785C;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-color: none;
    width: 80px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 0px;
}

.filterWhere{
    border: none;
    font-size: 15px;
    color: gray;
    outline: none;
}

.filterCalendar{
    margin-right:10px;
    font-size: 25px;
    text-align: center;
}

.filterBed, .filterPerson{
    margin-right:10px;
    font-size: 25px;
    text-align: center;
}

.filterDays span, .filterPeople span{
    color: gray;
}

.filterOptions{
    background-color: white;
    width: 65%;
    padding: 10px;
}

.filterSpan{
    cursor: pointer;
}

.filterOptionsItems{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filterOptionsCounter{
    margin-right: 10px;
    cursor: pointer;
}

.filterOptionsCounter:disabled{
    cursor: not-allowed;
}

.filterOptionsNumber{
    margin-right: 10px;
}
