.frontContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.frontImageHome {
    width: 100%;
}

.frontContainerText {
    position:absolute;
    top: 250px;
}

.frontText.green {
    font-family: 'Montez';
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: rgba(62, 253, 4, 0.603);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(62, 253, 4, 0.603);
    font-weight: bolder;

}

.frontText.black {
    font-family: 'Montez';
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: rgba(0, 0, 255, 0.521);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 255, 0.521);
    font-weight: bolder;
}

@media screen and (max-width: 1475px) and (min-width: 1025px) {
    .frontContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    .frontContainerText {
        position: absolute;
        top: 180px
    }

    .frontText.green {
        font-family: 'Montez';
        font-style: normal;
        font-size: 55px;
        text-align: center;
        color: rgba(62, 253, 4, 0.603);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgb(62, 253, 4, 0.603);
        font-weight: bolder;

    }

    .frontText.black {
        font-family: 'Montez';
        font-style: normal;
        font-size: 55px;
        text-align: center;
        color: rgba(0, 0, 255, 0.521);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 255, 0.521);
        font-weight: bolder;
    }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
    .frontContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    .frontContainerText {
        position: absolute;
        top: 250px
    }

    .frontText.green {
        font-family: 'Montez';
        font-style: normal;
        font-size: 45px;
        text-align: center;
        color: rgba(62, 253, 4, 0.603);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgb(62, 253, 4, 0.603);
        font-weight: bolder;

    }

    .frontText.black {
        font-family: 'Montez';
        font-style: normal;
        font-size: 45px;
        text-align: center;
        color: rgba(0, 0, 255, 0.521);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 255, 0.521);
        font-weight: bolder;
    }
}

@media screen and (max-width: 799px) and (min-width: 320px) {
    .frontContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    .frontContainerText {
        position: absolute;
        top: 250px
    }

    .frontText.green {
        font-family: 'Montez';
        font-style: normal;
        font-size: 23px;
        text-align: center;
        color: rgba(62, 253, 4, 0.603);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:rgb(62, 253, 4, 0.603);
        font-weight: bolder;

    }

    .frontText.black {
        font-family: 'Montez';
        font-style: normal;
        font-size: 23px;
        text-align: center;
        color: rgba(0, 0, 255, 0.521);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 255, 0.521);
        font-weight: bolder;
    }
}