.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.575);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  
}

.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  width: 1024px;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.rtitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rQuantityRooms {
  margin: 5px 0px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 200;
  width: 60%;
  text-align: justify;
  margin-top: 10px;
}

.rMax {
  font-size: 12px;
  margin: 10px 0px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 10px;
  color: black;
}

.rInputCheckBox {
  size: 200px;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 25%;
}

.rDeleteCheckBox {
  background-color: rgba(139, 0, 0, 0.486);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 25%;
}

.rbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 1024px) and (min-width: 320px) {
  
  .rContainer {
    overflow-y: auto;
    height: 350px;
    top:120px;
  }
}