.listContainer{
    animation-name: anime;
    animation-duration: 2s;
    background-color:floralwhite;
}
@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.listNavbar{
    position: sticky;
    top:0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}

.listSearch{
    background-color: #FADCA6;
}

.listPlaces{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1024px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.searchContainer{
    width:100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchTitle{
    text-align: center;
    margin: 15px 0px;
}

.searchFields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchDestino{
    padding-left:10px;
}

.searchInput{
    margin: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.filterCalendarDays{
    margin: 0px 10px;
}

.searchOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.serachListOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchInputPrice{
    border: none;
    outline: none;
}

.serachListOptionsButton{
    background-color: rgb(80, 62, 62);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    height: 40px;
}