.listContainer{
    animation-name: anime;
    animation-duration: 2s;
    background-color:floralwhite;
}
@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.listNavbar{
    position: sticky;
    top:0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}