.homeQuemSomosNos{
    width: 1024px;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: left;
}

.homeQuemSomosNos p{
    font-family: Open Sans;
    line-height:38px;
    font-size: 20px;
    font-style: italic;
    text-indent: 4em;
    text-align: justify;
}

.homeQuemSomosNos h1{
    font-family: Montez;
    font-size: 55px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .homeQuemSomosNos{
        width: fit-content;
        height: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .homeQuemSomosNos p{
        font-size: 17px;
        line-height:28px;
        text-indent: 2em;
        font-family: Open Sans;
        font-style: italic;
        text-align: justify;
        padding: 0px 20px;
    }
    
    .homeQuemSomosNos h1{
        font-family: Montez;
        font-size: 35px;
        margin-bottom: 10px;
    }
}