.componentsHotel{
    animation-name: anime;
    animation-duration: 2s;
    background-color:floralwhite;
}
@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hotelNavbar{
    position: sticky;
    top:0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}

.hotelFilter{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelPlacesTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.hotelAlgunsLocais{
    font-family: Montez;
    font-size: 65px;
}