.componentsHotel{
    animation-name: anime;
    animation-duration: 2s;
    background-color:floralwhite;
}
@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hotelNavbar{
    position: sticky;
    top:0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}

.hotelFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelPlacesTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.hotelAlgunsLocais{
    font-family: Montez;
    font-size: 65px;
}

.hotelFooter{
    position: relative;
    bottom: -200px;
}


@media screen and (max-width: 1024px) and (min-width: 320px) {
    .hotelAlgunsLocais{
        font-family: Montez;
        font-size: 35px;
        padding-top: 30px;
        text-align: center;
    }
}