.resultProducts{
    width:625px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color:linen;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.resultText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultTitleProduct{
    margin: 10px;
    color: green;
    font-weight: bold;
}

.resultDescription{
    text-align: justify;
    margin: 10px;
}

.resultQualifications{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resultStars, .resultRating, .resultPrice{
    margin: 5px 10px;
    color: green;
    font-weight: bold;
}

.resultDisp{
    background-color: rgb(80, 62, 62);
    color: white;
    font-weight: bold;
    width: 250px;
    border-radius: 25px;
    height: 40px;
}

.resultBuitton{
    width: 100%;
    text-align: center;
}
