.componentsHome{
    animation-name: anime;
    animation-duration: 3s;
    background-color:floralwhite;
}

@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.homeNavbar{
    position: sticky;
    top: 0px;
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
    margin-top: 50px;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .homeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:25px;
        margin-top: 30px;
    }

}