.componentsHome{
    animation-name: anime;
    animation-duration: 5s;
}

.footerHomePage{
    animation-name: anime;
    animation-duration: 5s;
}

@keyframes anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.homeQuemSomos{
    margin-top: 50px;
}

.homeProductHotel{
    margin-top: 50px;
}

.homeNavbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA07A;
}

.homeProductHouse{
    margin-top:100px;
}

.homePlaces{
    margin-top: 150px;
}

.footerHomePage{
    position: relative;
    top:804px;
}

.homeBackGround{
    position: relative;
    bottom:3854px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.homeBackImage{
    object-fit: cover;
    width: 100vw;    
    height: 4418px;
}